numpy
scipy
scikit-image
tensorflow
tensorflow-gpu
opencv-python
Pillow
Protobuf
Python-tk
lxml
Matplotlib
Cython
contextlib2
cocoapi
tf-slim
tensorflow-object-detection-api
glob2
times
python-time
utils
